.dataTable {
  border: 1px solid #ccc;
}
.dataTable td {
  /* padding: 0; */
}
@media screen {
}
.imageDataBox {
  flex: 1 1 35%;
}
.tableDataBox {
  flex: 1 1 65%;
}
.flokzuLogo {
  filter: invert(70%);
}
.loginContainer {
  margin-top: 60px;
}
.contentContainer {
  margin: 0 36px;
  flex-wrap: wrap;
}
